:root {
  --default-box-border: red;
}

.flex-row {
  display: flex;
}
cctv-bbox {
  max-width: 100%;
  position: relative;
  display: inline-block;
  width: 320px;
  height: 240px;

  flex-shrink: 1;
}
cctv-bbox img,
cctv-bbox video {
  width: 100%;
  height: 100%;
}
cctv-bbox div {
  position: absolute;
  border: solid var(--default-box-border) 3px;
}

cctv-bbox span {
  color: white;
}

.mix-blend {
  color: var(--default-box-border);
  mix-blend-mode: difference;
}
